.e0v6jtv3 {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0iye0zr {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e08acixg {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0wfs2ak {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e01aoq2m {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0dmch2l {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0m60k9o {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0s1pc78 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0r05kr2 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0dnmif2 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e052goht {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0hr956y {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0l0sbog {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0a16zvk {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0vmbwti {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0rclqu1 {
  width: 1920px;
  height: 1122px;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0d21py2 {
  width: 1039px;
  height: 1136px;
  margin-top: -14px;
  margin-left: 881px;
  align-content: start;
  background-image: linear-gradient(45deg, rgb(96, 49, 155) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0778uuo {
  width: 494px;
  margin-top: 129px;
  margin-left: 273px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e0h86oef {
  width: 600px;
  height: 400px;
  margin-top: 115px;
  margin-left: 242px;
  align-content: start;
}

.e0btjb3r {
  width: 1926px;
  height: 95px;
  margin-top: 347px;
  margin-left: -887px;
  align-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e00wlkes {
  width: 1926px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0zdxlig {
  width: 58px;
  height: 58px;
  margin-top: 5px;
  margin-left: 32px;
  align-content: start;
}

.e0x34tep {
  width: 644px;
  margin-top: 14px;
  margin-left: 19px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0v74nbm {
  width: 99px;
  margin-top: 37px;
  margin-left: 441px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0919x9v {
  width: 146px;
  height: 95px;
  align-content: start;
}

.e0jkim04 {
  width: NaNpx;
  height: NaNpx;
  margin-top: 25px;
  margin-left: -9px;
  align-content: start;
  text-align: center;
}

.e0yycauz {
  width: 174px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e00ujgfe {
  width: 146px;
  margin-top: -7px;
  margin-left: 9px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0o8g6gk {
  width: 146px;
  height: 23px;
  min-height: auto;
}

.e0wdjklf {
  width: 19px;
  height: 95px;
}

.e0iid9gq {
  width: 443px;
  margin-top: -1026px;
  margin-left: 25px;
  align-content: start;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0q06tx1 {
  width: 226px;
  margin-top: -857px;
  margin-left: 57px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e00i7wkr {
  width: 701px;
  margin-top: -941px;
  margin-left: 35px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e09y3w66 {
  width: NaNpx;
  height: NaNpx;
  margin-top: -819px;
  margin-left: 71px;
  align-content: start;
}

.e08v5gll {
  width: 631px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0bhuom8 {
  width: 631px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0tku3d6 {
  width: 338px;
  margin-top: -814px;
  margin-left: 84px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0n68n03 {
  width: 150px;
  margin-top: -738px;
  margin-left: 57px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0goj2i0 {
  width: 239px;
  margin-top: -620px;
  margin-left: 84px;
  align-content: start;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0nv1qvm {
  width: NaNpx;
  height: NaNpx;
  margin-top: -700px;
  margin-left: 71px;
  align-content: start;
}

.e0a5p4ee {
  width: 631px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0kmrevu {
  width: 631px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0hfs2xl {
  width: 338px;
  margin-top: -695px;
  margin-left: 84px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0bs4eq7 {
  width: 16px;
  height: 18px;
  min-height: auto;
  margin-top: -619px;
  margin-left: 76px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0n4jd0b {
  width: NaNpx;
  height: NaNpx;
  margin-top: -536px;
  margin-left: 78px;
  align-content: start;
}

.e0oyrhdi {
  width: 624px;
  height: 47px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e07snmo8 {
  width: 624px;
  height: 47px;
  margin-top: -47px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0h2mhjr {
  width: 334px;
  margin-top: -522px;
  margin-left: 220px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.e0y6swa0 {
  width: 460px;
  margin-top: -457px;
  margin-left: 167px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e0i4gbv0 {
  width: NaNpx;
  color: rgb(242, 153, 74);
}

.e0rgih5u {
  width: 460px;
  margin-top: -424px;
  margin-left: 167px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(242, 153, 74);
}
