.e0guokc2 {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0qrxqit {
  width: 1920px;
  height: 1122px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0b3lv2i {
  width: 257px;
  height: 1122px;
  align-content: start;
  background-image: url("../asset/image/rectangle-2.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0xl2u9p {
  width: 215px;
  height: 61px;
  margin-top: 17px;
  margin-left: 21px;
  align-content: start;
  text-align: center;
  background-image: linear-gradient(rgb(196, 196, 196) 0%, rgb(196, 196, 196) 100%);
  background-blend-mode: auto;
}

.e01jcsa9 {
  width: 149px;
  margin-top: 17px;
  margin-left: 33px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0s5sumw {
  width: 257px;
  height: 47px;
  margin-top: 26px;
  align-content: start;
  background-image: linear-gradient(rgb(138, 136, 135) 0%, rgb(138, 136, 135) 100%);
  background-blend-mode: auto;
  border: 1px solid rgb(0, 0, 0);
}

.e0vmbs5j {
  width: NaNpx;
  height: NaNpx;
  margin-top: 10px;
  margin-left: 18px;
  align-content: start;
  text-align: center;
}

.e09ojy38 {
  width: 220px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e09mpthu {
  width: 220px;
  margin-top: -28px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e08cikeu {
  width: 220px;
  margin-top: 36px;
  margin-left: 19px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.e05b8olw {
  width: 220px;
  margin-top: 55px;
  margin-left: 18px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.e0tx8kjj {
  width: 1630px;
  height: 1122px;
  align-content: start;
}

.e0iq3g5a {
  width: 211px;
  height: 50px;
  margin-top: 40px;
  margin-left: 1419px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0vpqwl9 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e05wysr4 {
  width: 211px;
  height: 50px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0uvc986 {
  width: 37px;
  height: 36px;
  margin-top: 7px;
  margin-left: 11px;
  align-content: start;
}

.e0fncm1l {
  width: 113px;
  margin-top: 15px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.e0r7g3rf {
  width: 30px;
  height: 50px;
}

.e08eqlfw {
  width: 39px;
  height: 39px;
  margin-top: -44px;
  margin-left: 152px;
  align-content: start;
}

.e0ojntt2 {
  width: 1317px;
  height: 53px;
  margin-top: 61px;
  margin-left: 131px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e0lu3srg {
  width: 1298px;
  height: 53px;
  margin-left: 19px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e058wvp1 {
  width: 251px;
  margin-left: 23px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e05y6vjz {
  width: 39px;
  height: 39px;
  margin-top: 18px;
  margin-left: 872px;
  align-content: start;
}

.e07u3od8 {
  width: 72px;
  height: 48px;
  margin-top: 5px;
  margin-left: 39px;
  align-content: start;
}

.e0mpo3uw {
  width: 1298px;
  height: 67px;
  margin-top: 2px;
  margin-left: 150px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(153, 239, 208);
}

.e0kvxemd {
  width: 1298px;
  height: 67px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(208, 95, 218);
}

.e05fnrp7 {
  width: 185px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e05izte8 {
  width: 46px;
  height: 46px;
  margin-top: 19px;
  margin-left: 956px;
  align-content: start;
}

.e0k4ybj7 {
  width: 36px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e03rsgcl {
  width: 72px;
  height: 48px;
  margin-top: 19px;
  margin-left: -16px;
  align-content: start;
}

.e0pnqoo5 {
  width: 1268px;
  height: 67px;
  margin-left: 178px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0izr08d {
  width: 535px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0qav8zw {
  width: 45px;
  height: 46px;
  margin-top: 19px;
  margin-left: 579px;
  align-content: start;
}

.e0pqwkn1 {
  width: 35px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e05j1ivq {
  width: 70px;
  height: 48px;
  margin-top: 19px;
  margin-left: -15px;
  align-content: start;
}

.e0l73v8f {
  width: 1225px;
  height: 67px;
  margin-top: 2px;
  margin-left: 221px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0kqotgk {
  width: 729px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0pvweif {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 384px;
  align-content: start;
}

.e0noh7nt {
  width: 34px;
  height: 32px;
  margin-top: 19px;
  margin-left: 5px;
  align-content: start;
}

.e0x58mzv {
  width: 1225px;
  height: 67px;
  margin-top: -2px;
  margin-left: 223px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0m4p89x {
  width: 983px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0rmjbks {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 128px;
  align-content: start;
}

.e00p8p0x {
  width: 34px;
  height: 32px;
  margin-top: 26px;
  margin-left: 7px;
  align-content: start;
}

.e0sp8bik {
  width: 1225px;
  height: 67px;
  margin-left: 223px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0070kha {
  width: 729px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0g4upzi {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 383px;
  align-content: start;
}

.e0vvne1g {
  width: 34px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0qykois {
  width: 1225px;
  height: 67px;
  margin-top: 2px;
  margin-left: 223px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0ulrvru {
  width: 1052px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0c98idc {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 60px;
  align-content: start;
}

.e0bkb19d {
  width: 34px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e041tj9p {
  width: 1225px;
  height: 67px;
  margin-left: 223px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0gee2sf {
  width: 1022px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e02s4c31 {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 90px;
  align-content: start;
}

.e0gphj8o {
  width: 34px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0lzqam3 {
  width: 1225px;
  height: 67px;
  margin-left: 223px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(237, 186, 94);
}

.e0qpjr25 {
  width: 1052px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0kqqcty {
  width: 43px;
  height: 46px;
  margin-top: 19px;
  margin-left: 60px;
  align-content: start;
}

.e0fyp0p5 {
  width: 34px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0zw1t58 {
  width: 1268px;
  height: 67px;
  margin-top: 3px;
  margin-left: 163px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0f0m7lw {
  width: 304px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0t21l1a {
  width: 45px;
  height: 46px;
  margin-top: 19px;
  margin-left: 810px;
  align-content: start;
}

.e0aqa74n {
  width: 35px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0lfux0f {
  width: 70px;
  height: 48px;
  margin-top: 19px;
  margin-left: -15px;
  align-content: start;
}

.e0r60w77 {
  width: 1268px;
  height: 67px;
  margin-left: 163px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0zdwmij {
  width: 591px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0nplfzm {
  width: 45px;
  height: 46px;
  margin-top: 19px;
  margin-left: 523px;
  align-content: start;
}

.e0ihddwc {
  width: 35px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0eul9ub {
  width: 70px;
  height: 48px;
  margin-top: 19px;
  margin-left: -15px;
  align-content: start;
}

.e0anydpr {
  width: 1268px;
  height: 67px;
  margin-left: 163px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0phkaht {
  width: 663px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0uzmdt1 {
  width: 45px;
  height: 46px;
  margin-top: 19px;
  margin-left: 451px;
  align-content: start;
}

.e00693wr {
  width: 35px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e00jfug6 {
  width: 70px;
  height: 48px;
  margin-top: 19px;
  margin-left: -15px;
  align-content: start;
}

.e0rquxyw {
  width: 1268px;
  height: 67px;
  margin-top: 2px;
  margin-left: 161px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0xuqmfg {
  width: 739px;
  margin-top: 16px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0ap2ary {
  width: 45px;
  height: 46px;
  margin-top: 19px;
  margin-left: 375px;
  align-content: start;
}

.e0ov2glt {
  width: 35px;
  height: 32px;
  margin-top: 26px;
  margin-left: 6px;
  align-content: start;
}

.e0x9rah6 {
  width: 70px;
  height: 48px;
  margin-top: 19px;
  margin-left: -15px;
  align-content: start;
}
