.e03u0efs {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0d19it3 {
  width: 1920px;
  height: 2647px;
  align-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0ik13nv {
  width: 1920px;
  height: 90px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0rw4zl3 {
  width: 1120px;
  margin-top: 62px;
  margin-left: 117px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(181, 181, 181);
}

.e0jc9kej {
  width: 211px;
  height: 50px;
  margin-top: 40px;
  margin-left: 439px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e086z1bi {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0xpycy1 {
  width: 211px;
  height: 50px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0vmwtbl {
  width: 37px;
  height: 36px;
  margin-top: 7px;
  margin-left: 11px;
  align-content: start;
}

.e0l0nxsz {
  width: 113px;
  margin-top: 15px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.e03zmpkf {
  width: 30px;
  height: 50px;
}

.e0udoqcz {
  width: 39px;
  height: 39px;
  margin-top: -44px;
  margin-left: 152px;
  align-content: start;
}

.e0jyl87r {
  width: 555px;
  margin-top: 43px;
  margin-left: 117px;
  align-content: start;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0469ms6 {
  width: 1665px;
  height: 1104px;
  margin-top: 74px;
  margin-left: 114px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0nmz7j0 {
  width: 1665px;
  height: 1104px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0l3mglr {
  width: NaNpx;
  height: NaNpx;
  margin-top: 37px;
  margin-left: 39px;
  align-content: start;
  text-align: justified;
}

.e03o88v5 {
  width: 1577px;
  align-content: start;
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e08j3t9s {
  width: NaNpx;
  font-size: 25px;
}

.e0ia7kld {
  width: 1577px;
  margin-top: -604px;
  align-content: start;
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e024hzcj {
  width: NaNpx;
  font-size: 25px;
}

.e03bhfg7 {
  width: 1665px;
  height: 372px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0inerks {
  width: 382px;
  height: 382px;
  margin-top: -10px;
  margin-left: 57px;
  align-content: start;
  background-image: url("../asset/image/mauricio-logo-3.png");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0un52qk {
  width: 382px;
  height: 382px;
}

.e0jwcv97 {
  width: 581px;
  height: 372px;
  align-content: start;
}

.e0m4t281 {
  width: NaNpx;
  height: NaNpx;
  margin-top: 50px;
  margin-left: 39px;
  align-content: start;
}

.e00yxjrx {
  width: 489px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0k30x5c {
  width: 489px;
  margin-top: -56px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e08fn7ch {
  width: NaNpx;
  height: NaNpx;
  margin-top: 42px;
  margin-left: 39px;
  align-content: start;
}

.e0vmqin0 {
  width: 528px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0793wbd {
  width: 528px;
  margin-top: -63px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0i8oyku {
  width: NaNpx;
  height: NaNpx;
  margin-top: 42px;
  margin-left: 39px;
  align-content: start;
}

.e0lwt66t {
  width: 542px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0e6llwy {
  width: 542px;
  margin-top: -60px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e06xexkl {
  width: 1665px;
  height: 942px;
  margin-top: 69px;
  margin-left: 114px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0ptvygw {
  width: 980px;
  margin-top: 86px;
  margin-left: 343px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e08gsac0 {
  width: 1665px;
  height: 378px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0hi23r0 {
  width: 258px;
  height: 258px;
  margin-top: 120px;
  margin-left: 243px;
  align-content: start;
  border-radius: 50%;
}

.e03y4afh {
  width: 258px;
  height: 258px;
  margin-top: 120px;
  margin-left: 664px;
  align-content: start;
  border-radius: 50%;
}

.e0yhbhmq {
  width: 1665px;
  height: 223px;
  grid-auto-flow: column;
  justify-content: start;
  text-align: center;
}

.e0nhs4ry {
  width: 649px;
  margin-top: 73px;
  margin-left: 47px;
  align-content: start;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0vrtyv8 {
  width: 649px;
  margin-top: 73px;
  margin-left: 273px;
  align-content: start;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0jyavnx {
  width: 1926px;
  height: 95px;
  margin-top: 180px;
  margin-left: -6px;
  align-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e04tzhdo {
  width: 1926px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0wpk4y2 {
  width: 58px;
  height: 58px;
  margin-top: 5px;
  margin-left: 32px;
  align-content: start;
}

.e0viypru {
  width: 644px;
  margin-top: 14px;
  margin-left: 19px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e09kspi0 {
  width: 99px;
  margin-top: 37px;
  margin-left: 441px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0o50853 {
  width: 146px;
  height: 95px;
  align-content: start;
}

.e0bydtms {
  width: NaNpx;
  height: NaNpx;
  margin-top: 25px;
  margin-left: -9px;
  align-content: start;
  text-align: center;
}

.e0lj6ozd {
  width: 174px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e02vkz8b {
  width: 146px;
  margin-top: -7px;
  margin-left: 9px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0soffsp {
  width: 146px;
  height: 23px;
  min-height: auto;
}

.e0wzw10n {
  width: 19px;
  height: 95px;
}
