.e0o5i0j8 {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e037peiq {
  width: 1920px;
  height: 1220px;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0931j8i {
  width: 1920px;
  height: 1220px;
  align-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e016w8av {
  width: 1920px;
  height: 100px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0sd1daw {
  width: 1120px;
  margin-top: 65px;
  margin-left: 117px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(181, 181, 181);
}

.e0wr03qr {
  width: 162px;
  height: 50px;
  margin-top: 50px;
  margin-left: 280px;
  align-content: start;
  text-align: center;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e09d1jzf {
  width: 81px;
  margin-top: 15px;
  margin-left: 39px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0yif6vh {
  width: 162px;
  height: 50px;
  margin-top: 50px;
  margin-left: 29px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0f27day {
  width: 162px;
  height: 50px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0axaz5v {
  width: 87px;
  margin-top: 15px;
  margin-left: 37px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0w8m4eh {
  width: 1427px;
  margin-top: 36px;
  margin-left: 117px;
  align-content: start;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0n00mx3 {
  width: NaNpx;
  font-size: 25px;
}

.e072eqv7 {
  width: 1749px;
  height: 776px;
  margin-top: 35px;
  margin-left: 99px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0q3n3lx {
  width: 1749px;
  height: 148px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0t8by9i {
  width: 388px;
  height: 148px;
  align-content: start;
}

.e0mdbljs {
  width: NaNpx;
  height: NaNpx;
  margin-top: 30px;
  margin-left: 69px;
  align-content: start;
}

.e0nl07w2 {
  width: 319px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0ekaweg {
  width: 323px;
  margin-top: -14px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0fotd1u {
  width: 388px;
  height: 36px;
}

.e0wxhb4a {
  width: 4px;
  height: 148px;
}

.e00h2x04 {
  width: 1337px;
  height: 148px;
  align-content: start;
}

.e0uhpzjp {
  width: 662px;
  margin-top: 48px;
  margin-left: 675px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e037jffh {
  width: 542px;
  margin-left: 751px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0ryjmw7 {
  width: NaNpx;
  color: rgb(255, 0, 0);
}

.e0w448g7 {
  width: NaNpx;
  color: rgb(242, 153, 74);
}

.e0qwrotp {
  width: NaNpx;
  color: rgb(255, 230, 0);
}

.e0e9kx2u {
  width: NaNpx;
  color: rgb(84, 129, 80);
}

.e05kz4yy {
  width: NaNpx;
  color: rgb(0, 255, 25);
}

.e0pwdz5z {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0h3tas9 {
  width: 1749px;
  height: 52px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0kt9a66 {
  width: 647px;
  margin-top: 24px;
  margin-left: 70px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e07a2e95 {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 431px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0vlv7mz {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0vma98o {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0cfetjt {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0bn600b {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0etd8f4 {
  width: 239px;
  margin-top: -25px;
  margin-left: 46px;
  align-content: start;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0zjrg7p {
  width: 1749px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0mmjdwp {
  width: 858px;
  margin-top: 48px;
  margin-left: 69px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0mlnwf0 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 221px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e06mxmig {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e02wsth7 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0yzmlkq {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0agbhij {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0zrg6pr {
  width: 1749px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e032yd3l {
  width: 859px;
  margin-top: 29px;
  margin-left: 68px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0x3jvmr {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 221px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0s9xnew {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0zgu946 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e04zq1a7 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e018zqkv {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0sdymdq {
  width: 1749px;
  height: 79px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0zhzhis {
  width: 859px;
  margin-top: 28px;
  margin-left: 68px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0ptp3b6 {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 221px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e05aavsp {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e082o90l {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0ov163c {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e05j4q38 {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0ksh2dm {
  width: 1749px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0oh4kqj {
  width: 859px;
  margin-top: 46px;
  margin-left: 68px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0hqf933 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 221px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0240ac8 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e04eppjs {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0p0p404 {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0e8pzgk {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e06h9zk0 {
  width: 1749px;
  height: 79px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0d5m3ef {
  width: 859px;
  margin-top: 39px;
  margin-left: 70px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0opoqn5 {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 219px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0ez339y {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0kv8mz7 {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0o7ha0z {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0jy1d5u {
  width: 40px;
  height: 40px;
  margin-top: 39px;
  margin-left: 75px;
  align-content: start;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0blota4 {
  width: 1749px;
  height: 135px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0slfb3w {
  width: 162px;
  height: 50px;
  margin-top: 85px;
  margin-left: 1351px;
  align-content: start;
  text-align: center;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e050ehxh {
  width: 81px;
  margin-top: 15px;
  margin-left: 39px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0wkp2xg {
  width: 162px;
  height: 50px;
  margin-top: 85px;
  margin-left: 22px;
  align-content: start;
  text-align: center;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e07ei80m {
  width: 81px;
  margin-top: 15px;
  margin-left: 39px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0dzc4h2 {
  width: 1920px;
  height: 95px;
  margin-top: 17px;
  align-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0q5xbsa {
  width: 1920px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0cuh33d {
  width: 58px;
  height: 58px;
  margin-top: 5px;
  margin-left: 32px;
  align-content: start;
}

.e0nkzb7j {
  width: 642px;
  margin-top: 14px;
  margin-left: 19px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0hieik4 {
  width: 99px;
  margin-top: 37px;
  margin-left: 439px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0tb6mi2 {
  width: 146px;
  height: 95px;
  align-content: start;
}

.e0ykqp0u {
  width: NaNpx;
  height: NaNpx;
  margin-top: 25px;
  margin-left: -9px;
  align-content: start;
  text-align: center;
}

.e01omhyp {
  width: 173px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0cyanay {
  width: 146px;
  margin-top: -7px;
  margin-left: 9px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0m43asx {
  width: 146px;
  height: 23px;
  min-height: auto;
}

.e0qybn0y {
  width: 18px;
  height: 95px;
}
