.e0d1k9fv {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e048drr4 {
  width: 1920px;
  height: 3176px;
  align-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0p94guy {
  width: 1920px;
  height: 100px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0okgi3v {
  width: 1120px;
  margin-top: 65px;
  margin-left: 121px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(181, 181, 181);
}

.e08mdpbz {
  width: 162px;
  height: 50px;
  margin-top: 50px;
  margin-left: 276px;
  align-content: start;
  text-align: center;
  border-radius: 0px;
  border: 1px solid rgb(242, 153, 74);
}

.e0hrve2a {
  width: 81px;
  margin-top: 15px;
  margin-left: 39px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0jhj2ar {
  width: 162px;
  height: 50px;
  margin-top: 50px;
  margin-left: 29px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e04e5mck {
  width: 162px;
  height: 50px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e01edmkl {
  width: 87px;
  margin-top: 15px;
  margin-left: 37px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0nhm0qh {
  width: 1427px;
  margin-top: 36px;
  margin-left: 117px;
  align-content: start;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0px8ogz {
  width: 1920px;
  height: 512px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0wvgpa0 {
  width: 781px;
  height: 478px;
  margin-top: 34px;
  margin-left: 121px;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.e0fdtvqm {
  width: 781px;
  height: 478px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0r7kv91 {
  width: 369px;
  margin-top: 19px;
  margin-left: 198px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0ksewte {
  width: 369px;
  margin-top: 12px;
  margin-left: 254px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(242, 153, 74);
}

.e0gmvzox {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0f3s159 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e070cmqw {
  width: 781px;
  height: 282px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0ecg4eg {
  width: 250px;
  margin-top: 93px;
  margin-left: 7px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0p2yg5i {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0iz9g0p {
  width: 235px;
  height: 282px;
  align-content: start;
}

.e0ymh5wj {
  width: 8px;
  margin-top: 9px;
  margin-left: 84px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0qzt087 {
  width: 206px;
  height: 215px;
  margin-top: 14px;
  margin-left: 3px;
  align-content: start;
  background-image: url("../asset/image/polygon-2.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0tgfspn {
  width: 8px;
  margin-top: -5px;
  margin-left: 82px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0escvh7 {
  width: 161px;
  height: 168px;
  margin-top: 10px;
  margin-left: 22px;
  align-content: start;
  background-image: url("../asset/image/polygon-3.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e07xllpq {
  width: 131px;
  height: 151px;
  margin-top: 1px;
  margin-left: 47px;
  align-content: start;
  background-image: url("../asset/image/vector-1.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0v1a0av {
  width: 8px;
  margin-top: -5px;
  margin-left: 13px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0zqiz3g {
  width: 114px;
  height: 119px;
  margin-top: 9px;
  margin-left: -24px;
  align-content: start;
  text-align: center;
  background-image: url("../asset/image/polygon-4.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e05fpmt8 {
  width: 8px;
  margin-top: -3px;
  margin-left: 37px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0dzedw0 {
  width: 8px;
  margin-top: 34px;
  margin-left: 39px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e07cppeb {
  width: 250px;
  margin-top: -27px;
  margin-left: 188px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0aaj6o2 {
  width: 220px;
  margin-top: 93px;
  margin-left: -4px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0t877ip {
  width: 258px;
  height: 270px;
  margin-top: -270px;
  margin-left: 254px;
  align-content: start;
}

.e03o42rv {
  width: 250px;
  margin-top: -27px;
  margin-left: 27px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e01rroz5 {
  width: 781px;
  height: 16px;
  min-height: auto;
}

.e042panm {
  width: 781px;
  height: 478px;
  margin-top: 34px;
  margin-left: 162px;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.e0ns6rn2 {
  width: 781px;
  height: 478px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0q6jxfy {
  width: 557px;
  margin-top: 20px;
  margin-left: 104px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e03wakac {
  width: 369px;
  margin-top: 11px;
  margin-left: 254px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(242, 153, 74);
}

.e0dvvbsu {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e01c64ff {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e02gc8zs {
  width: 781px;
  height: 282px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0ftwqvc {
  width: 250px;
  margin-top: 93px;
  margin-left: 7px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e09tr27d {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e02mbikw {
  width: 235px;
  height: 282px;
  align-content: start;
}

.e0nlm67p {
  width: 8px;
  margin-top: 9px;
  margin-left: 84px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0jfffgu {
  width: 206px;
  height: 215px;
  margin-top: 14px;
  margin-left: 3px;
  align-content: start;
  background-image: url("../asset/image/polygon-2-206-215.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0izkzvy {
  width: 8px;
  margin-top: -5px;
  margin-left: 82px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0ubnmlh {
  width: 161px;
  height: 168px;
  margin-top: 10px;
  margin-left: 22px;
  align-content: start;
  background-image: url("../asset/image/polygon-3-161-168.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0iwqahu {
  width: 131px;
  height: 151px;
  margin-top: 1px;
  margin-left: 47px;
  align-content: start;
  background-image: url("../asset/image/vector-1-131-151.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e03lqxk3 {
  width: 8px;
  margin-top: -5px;
  margin-left: 13px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e06dz43o {
  width: 114px;
  height: 119px;
  margin-top: 9px;
  margin-left: -24px;
  align-content: start;
  text-align: center;
  background-image: url("../asset/image/polygon-4-114-119.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0tb86av {
  width: 8px;
  margin-top: -3px;
  margin-left: 37px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0luxzc5 {
  width: 8px;
  margin-top: 34px;
  margin-left: 39px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0lwxqji {
  width: 250px;
  margin-top: -27px;
  margin-left: 188px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e024kttk {
  width: 250px;
  margin-top: 87px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0stflry {
  width: 258px;
  height: 270px;
  margin-top: -270px;
  margin-left: 254px;
  align-content: start;
}

.e07ny4lk {
  width: 250px;
  margin-top: -27px;
  margin-left: 27px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e08q4fa3 {
  width: 781px;
  height: 16px;
  min-height: auto;
}

.e029xzau {
  width: 1920px;
  height: 593px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0r04wbo {
  width: 832px;
  height: 541px;
  margin-top: 52px;
  margin-left: 96px;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.e0eueb0m {
  width: 832px;
  height: 541px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e00jd2qe {
  width: 356px;
  margin-top: 25px;
  margin-left: 238px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(153, 239, 208);
}

.e0sbb2x9 {
  width: 832px;
  height: 413px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0zfnfch {
  width: 467px;
  height: 413px;
  align-content: start;
}

.e07y86kq {
  width: 398px;
  margin-top: 45px;
  margin-left: 69px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e061y1xf {
  width: 398px;
  margin-top: 21px;
  margin-left: 69px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0uk1h8i {
  width: 139px;
  margin-top: -2px;
  margin-left: 24px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e00ganbl {
  width: 398px;
  margin-top: 5px;
  margin-left: 69px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0ksm89d {
  width: 398px;
  margin-top: 21px;
  margin-left: 68px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0l6xlmy {
  width: 398px;
  margin-top: 21px;
  margin-left: 68px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0989xm8 {
  width: 398px;
  margin-top: 35px;
  margin-left: 68px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0oopy6r {
  width: NaNpx;
  height: NaNpx;
  margin-top: 36px;
  margin-left: 12px;
  align-content: start;
}

.e07tpj9b {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0xd5t17 {
  width: 311px;
  height: 377px;
  align-content: start;
  filter: opacity(50%);
}

.e0g8zzik {
  width: 376px;
  min-height: auto;
  margin-top: 1px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0g3rser {
  width: 376px;
  min-height: auto;
  margin-left: 64px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e02juavi {
  width: 376px;
  min-height: auto;
  margin-left: 61px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0lr3p5z {
  width: 126px;
  height: 27px;
  margin-top: 15px;
  margin-left: -1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e077dxe3 {
  width: 186px;
  height: 27px;
  margin-top: 33px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0p771tv {
  width: 248px;
  height: 27px;
  margin-top: 34px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0vm2l1j {
  width: 248px;
  height: 27px;
  margin-top: 34px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e04yk0dz {
  width: 186px;
  height: 27px;
  margin-top: 41px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0rcplzy {
  width: 126px;
  height: 27px;
  margin-top: 40px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0z34a0i {
  width: 376px;
  min-height: auto;
  margin-top: -377px;
  margin-left: 187px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0dor9cu {
  width: 376px;
  min-height: auto;
  margin-top: -377px;
  margin-left: 249px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0yrtb7h {
  width: 832px;
  height: 30px;
  grid-auto-flow: column;
  justify-content: start;
}

.e00apyr3 {
  width: 12px;
  margin-top: 11px;
  margin-left: 473px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0mqkugo {
  width: 9px;
  margin-top: 11px;
  margin-left: 53px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0lq69dg {
  width: 12px;
  margin-top: 11px;
  margin-left: 53px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0s9pmsh {
  width: 12px;
  margin-top: 11px;
  margin-left: 48px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0ay6dlm {
  width: 12px;
  margin-top: 11px;
  margin-left: 50px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e09sitnp {
  width: 12px;
  margin-top: 11px;
  margin-left: 49px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0bd5tlf {
  width: 171px;
  margin-top: 18px;
  margin-left: 551px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(153, 239, 208);
}

.e0z5lqn8 {
  width: 832px;
  height: 541px;
  margin-top: 49px;
  margin-left: 111px;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.e0ctakxb {
  width: 832px;
  height: 541px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0wviyx2 {
  width: 356px;
  margin-top: 25px;
  margin-left: 238px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(153, 239, 208);
}

.e0vaiina {
  width: 832px;
  height: 413px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0tyujoa {
  width: 467px;
  height: 413px;
  align-content: start;
}

.e0yv95ib {
  width: 376px;
  min-height: auto;
  margin-top: 39px;
  margin-left: -153px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0wrr5jr {
  width: 383px;
  margin-top: 5px;
  margin-left: 67px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0hkhssn {
  width: 383px;
  margin-top: 21px;
  margin-left: 67px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e02usjbr {
  width: 139px;
  margin-top: -2px;
  margin-left: 24px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e01fqmfz {
  width: 400px;
  margin-top: 5px;
  margin-left: 67px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0cop27n {
  width: 401px;
  margin-top: 28px;
  margin-left: 66px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e08bwxrx {
  width: 383px;
  margin-top: 19px;
  margin-left: 66px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e068qk5v {
  width: 394px;
  margin-top: 28px;
  margin-left: 67px;
  align-content: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0ldrsyy {
  width: NaNpx;
  height: NaNpx;
  margin-top: 36px;
  margin-left: 12px;
  align-content: start;
}

.e0kqgpfh {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0xonktd {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0fdehmh {
  width: 311px;
  height: 377px;
  align-content: start;
  filter: opacity(50%);
}

.e0xm6ux2 {
  width: 376px;
  min-height: auto;
  margin-top: 1px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e03ty8l0 {
  width: 376px;
  min-height: auto;
  margin-left: 64px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e022p325 {
  width: 376px;
  min-height: auto;
  margin-left: 61px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e03vg6dc {
  width: 186px;
  height: 27px;
  margin-top: 15px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0v6puk6 {
  width: 248px;
  height: 27px;
  margin-top: 33px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0xomba7 {
  width: 248px;
  height: 27px;
  margin-top: 34px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e03j5obg {
  width: 248px;
  height: 27px;
  margin-top: 34px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0zj63z4 {
  width: 186px;
  height: 27px;
  margin-top: 41px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0283n7z {
  width: 186px;
  height: 28px;
  margin-top: 40px;
  margin-left: 1px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0eqyxrn {
  width: 376px;
  min-height: auto;
  margin-top: -377px;
  margin-left: 187px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0oaeob0 {
  width: 376px;
  min-height: auto;
  margin-top: -377px;
  margin-left: 249px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0xqnyk0 {
  width: 376px;
  min-height: auto;
  margin-top: -377px;
  margin-left: 311px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0ezmc80 {
  width: 832px;
  height: 30px;
  grid-auto-flow: column;
  justify-content: start;
}

.e03ulg2b {
  width: 12px;
  margin-top: 11px;
  margin-left: 473px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0k7he1w {
  width: 9px;
  margin-top: 11px;
  margin-left: 53px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0vc37n2 {
  width: 12px;
  margin-top: 11px;
  margin-left: 53px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0zlq5k9 {
  width: 12px;
  margin-top: 11px;
  margin-left: 48px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0k47r1x {
  width: 12px;
  margin-top: 11px;
  margin-left: 50px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0jccyu4 {
  width: 12px;
  margin-top: 11px;
  margin-left: 49px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.e0dqc2ky {
  width: 171px;
  margin-top: 19px;
  margin-left: 551px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(153, 239, 208);
}

.e0q5av9l {
  width: 1751px;
  height: 630px;
  margin-top: 64px;
  margin-left: 96px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0fq9kzr {
  width: 426px;
  margin-top: 14px;
  margin-left: 663px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0n7j2ws {
  width: 1751px;
  height: 93px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0fx3eur {
  width: 29px;
  margin-top: 36px;
  margin-left: 118px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e03lphci {
  width: 1479px;
  min-height: auto;
  margin-top: 64px;
  margin-left: 7px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0zvadw6 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0zplycw {
  width: 1751px;
  height: 66px;
  grid-auto-flow: column;
  justify-content: start;
}

.e08cy0sd {
  width: 29px;
  margin-top: 9px;
  margin-left: 118px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0esv4sv {
  width: 280px;
  min-height: auto;
  margin-top: 37px;
  margin-left: 159px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 221, 45);
}

.e0pyblqs {
  width: 279px;
  min-height: auto;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(153, 239, 208);
}

.e0cvyj3f {
  width: 308px;
  min-height: auto;
  margin-top: 37px;
  margin-left: -11px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 221, 45);
}

.e0x32i2l {
  width: 352px;
  min-height: auto;
  margin-top: 37px;
  margin-left: -7px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(153, 239, 208);
}

.e0ynmfy4 {
  width: 319px;
  min-height: auto;
  margin-top: 37px;
  margin-left: -26px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(153, 239, 208);
}

.e0izq1hg {
  width: 112px;
  height: 66px;
}

.e0l5xgsk {
  width: 1479px;
  min-height: auto;
  margin-top: -29px;
  margin-left: 154px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e02lgfrt {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0wrv25z {
  width: 1751px;
  height: 63px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0c0lfpz {
  width: 29px;
  margin-top: 6px;
  margin-left: 118px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0oplz37 {
  width: 304px;
  min-height: auto;
  margin-top: 34px;
  margin-left: 431px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(153, 239, 208);
}

.e0lvfr0k {
  width: 331px;
  min-height: auto;
  margin-top: 34px;
  margin-left: -6px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 221, 45);
}

.e0d0z4b3 {
  width: 426px;
  height: 63px;
}

.e0ap0xew {
  width: 1479px;
  min-height: auto;
  margin-top: -29px;
  margin-left: 154px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0jfz4ic {
  width: 1751px;
  height: 59px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0m4ct3f {
  width: 29px;
  margin-top: 2px;
  margin-left: 118px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0hv5gj0 {
  width: 1355px;
  height: 59px;
  align-content: start;
}

.e0xi4kvs {
  width: 1479px;
  min-height: auto;
  margin-top: 30px;
  margin-left: 7px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e0fpj9ep {
  width: 300px;
  min-height: auto;
  margin-top: -1px;
  margin-left: 1055px;
  align-content: start;
  border-image-width: 6px 0px 0px 0px;
  border-top-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 221, 45);
}

.e02safyj {
  width: 131px;
  height: 59px;
}

.e0u2a3k2 {
  width: 1751px;
  height: 57px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0r3oqdi {
  width: 29px;
  margin-left: 118px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e07m3b95 {
  width: 1479px;
  min-height: auto;
  margin-top: 29px;
  margin-left: 7px;
  align-content: start;
  border-image-width: 1px 0px 0px 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.e063rvu2 {
  width: 1751px;
  height: 134px;
  grid-auto-flow: column;
  justify-content: start;
  text-align: center;
}

.e0rae1q5 {
  width: 195px;
  margin-top: 37px;
  margin-left: 209px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0u77jdc {
  width: 195px;
  margin-top: 33px;
  margin-left: 76px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0q1etn2 {
  width: 239px;
  margin-top: 31px;
  margin-left: 89px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e0b8fyfg {
  width: 234px;
  margin-top: 33px;
  margin-left: 86px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e08zk3do {
  width: 195px;
  margin-top: 31px;
  margin-left: 76px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(242, 153, 74);
}

.e02t61mt {
  width: 1751px;
  height: 46px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0fywriq {
  width: 48px;
  height: 20px;
  min-height: auto;
  margin-top: 26px;
  margin-left: 694px;
  align-content: start;
  background-image: linear-gradient(rgb(255, 221, 45) 0%, rgb(255, 221, 45) 100%);
  background-blend-mode: auto;
}

.e0ti4218 {
  width: 94px;
  margin-top: 26px;
  margin-left: 29px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 221, 45);
}

.e0qbqm90 {
  width: 48px;
  height: 20px;
  min-height: auto;
  margin-top: 26px;
  margin-left: 103px;
  align-content: start;
  background-image: linear-gradient(rgb(153, 239, 208) 0%, rgb(153, 239, 208) 100%);
  background-blend-mode: auto;
}

.e0bjuxfk {
  width: 94px;
  margin-top: 26px;
  margin-left: 29px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(153, 239, 208);
}

.e05wn7kr {
  width: 1926px;
  height: 95px;
  margin-top: 49px;
  margin-left: 9px;
  align-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e05bsfhg {
  width: 1926px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0pqwae6 {
  width: 58px;
  height: 58px;
  margin-top: 5px;
  margin-left: 32px;
  align-content: start;
}

.e0msr2gb {
  width: 644px;
  margin-top: 14px;
  margin-left: 19px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0het45i {
  width: 99px;
  margin-top: 37px;
  margin-left: 441px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e02tw313 {
  width: 146px;
  height: 95px;
  align-content: start;
}

.e0tjpp2d {
  width: NaNpx;
  height: NaNpx;
  margin-top: 25px;
  margin-left: -9px;
  align-content: start;
  text-align: center;
}

.e02cnuo1 {
  width: 174px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0fjoa6j {
  width: 146px;
  margin-top: -7px;
  margin-left: 9px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0yftlzk {
  width: 146px;
  height: 23px;
  min-height: auto;
}

.e0rtxelb {
  width: 19px;
  height: 95px;
}
