.e0z9v5vh {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0sfw2qb {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e071w8ou {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0wdw6s6 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e00m467z {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e08bq3sb {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e00kvsvk {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0349jah {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0gh0ck0 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0tmfvk7 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0ge53nr {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0w8o0ap {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e054noiv {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0apigxw {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0jqq3g4 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e040n2q8 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0lkx7wl {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e04w4rf9 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0vo0m9p {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0og7iuu {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0f51oxi {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0ppye69 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0fp19wp {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0qv24wb {
  width: 1920px;
  height: 1122px;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0m213op {
  width: 1039px;
  height: 1122px;
  margin-left: 881px;
  align-content: start;
  background-image: linear-gradient(45deg, rgb(96, 49, 155) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0cy6pq3 {
  width: 494px;
  margin-top: 115px;
  margin-left: 273px;
  align-content: start;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e09n1lsn {
  width: 600px;
  height: 400px;
  margin-top: 119px;
  margin-left: 219px;
  align-content: start;
}

.e0st3ebx {
  width: 1920px;
  height: 95px;
  margin-top: 343px;
  margin-left: -881px;
  align-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0nbhwbx {
  width: 1920px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(40, 7, 80) 0%, rgb(40, 7, 80) 100%);
  background-blend-mode: auto;
}

.e0v6bmic {
  width: 58px;
  height: 58px;
  margin-top: 5px;
  margin-left: 32px;
  align-content: start;
}

.e0ntn5gm {
  width: 642px;
  margin-top: 14px;
  margin-left: 19px;
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0od4jgr {
  width: 99px;
  margin-top: 37px;
  margin-left: 439px;
  align-content: start;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0l7r0e7 {
  width: 146px;
  height: 95px;
  align-content: start;
}

.e00w3itu {
  width: NaNpx;
  height: NaNpx;
  margin-top: 25px;
  margin-left: -9px;
  align-content: start;
  text-align: center;
}

.e04qn8du {
  width: 173px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e05x08m1 {
  width: 146px;
  margin-top: -7px;
  margin-left: 9px;
  align-content: start;
  font-size: 10px;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
  color: rgb(153, 239, 208);
}

.e0s3h0gr {
  width: 146px;
  height: 23px;
  min-height: auto;
}

.e02rvcsk {
  width: 18px;
  height: 95px;
}

.e0o6vc3d {
  width: 310px;
  margin-top: -1002px;
  margin-left: 21px;
  align-content: start;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e07i7q2e {
  width: 127px;
  margin-top: -882px;
  margin-left: 60px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0llastz {
  width: 279px;
  margin-top: -949px;
  margin-left: 20px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(153, 239, 208);
}

.e0do5lv5 {
  width: NaNpx;
  height: NaNpx;
  margin-top: -887px;
  margin-left: 280px;
  align-content: start;
}

.e0gjbktu {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e033dkbw {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0ap7dag {
  width: 324px;
  margin-top: -882px;
  margin-left: 287px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e02xx0kc {
  width: 130px;
  margin-top: -801px;
  margin-left: 60px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0b15m1h {
  width: NaNpx;
  height: NaNpx;
  margin-top: -807px;
  margin-left: 280px;
  align-content: start;
}

.e0yhlty3 {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0s77e21 {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0gk1ng0 {
  width: 324px;
  margin-top: -802px;
  margin-left: 287px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e014a6t4 {
  width: 130px;
  margin-top: -725px;
  margin-left: 60px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0533ycv {
  width: NaNpx;
  height: NaNpx;
  margin-top: -731px;
  margin-left: 280px;
  align-content: start;
}

.e0b2bx72 {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0dqiwte {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0w4y801 {
  width: 324px;
  margin-top: -726px;
  margin-left: 287px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e060puaf {
  width: 130px;
  margin-top: -573px;
  margin-left: 57px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0pzlp4m {
  width: NaNpx;
  height: NaNpx;
  margin-top: -576px;
  margin-left: 280px;
  align-content: start;
}

.e0adzi1l {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0yn2ihg {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e01dbon8 {
  width: 324px;
  margin-top: -571px;
  margin-left: 287px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0xhzbes {
  width: 130px;
  margin-top: -490px;
  margin-left: 60px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e04frn6k {
  width: NaNpx;
  height: NaNpx;
  margin-top: -496px;
  margin-left: 278px;
  align-content: start;
}

.e02xzj5s {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e09av27g {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e0qafxcf {
  width: 324px;
  margin-top: -491px;
  margin-left: 285px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0x7q8or {
  width: 234px;
  margin-top: -650px;
  margin-left: 60px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0bqz3wo {
  width: NaNpx;
  height: NaNpx;
  margin-top: -656px;
  margin-left: 280px;
  align-content: start;
}

.e07snsxn {
  width: 344px;
  height: 31px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0uj5r8q {
  width: 344px;
  height: 31px;
  margin-top: -31px;
  align-content: start;
  border-radius: 10px;
}

.e00w5rub {
  width: 324px;
  margin-top: -651px;
  margin-left: 287px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0a98fr4 {
  width: NaNpx;
  height: NaNpx;
  margin-top: -395px;
  margin-left: 58px;
  align-content: start;
}

.e0ls06k8 {
  width: 546px;
  height: 47px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0s8t2tg {
  width: 546px;
  height: 47px;
  margin-top: -47px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e09e2wc1 {
  width: 293px;
  margin-top: -381px;
  margin-left: 182px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}
