.e0u3ie9w {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0wqq0z4 {
  width: 1920px;
  height: 1122px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0e6ir7a {
  width: 257px;
  height: 1122px;
  align-content: start;
  background-image: url("../asset/image/rectangle-2-257-1122.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0f5xwuw {
  width: 215px;
  height: 61px;
  margin-top: 17px;
  margin-left: 23px;
  align-content: start;
  text-align: center;
  background-image: linear-gradient(rgb(196, 196, 196) 0%, rgb(196, 196, 196) 100%);
  background-blend-mode: auto;
}

.e0as4ti6 {
  width: 149px;
  margin-top: 17px;
  margin-left: 33px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e00py5xo {
  width: 220px;
  margin-top: 36px;
  margin-left: 18px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.e0o6b884 {
  width: 257px;
  height: 47px;
  margin-top: 30px;
  margin-left: -1px;
  align-content: start;
  text-align: center;
  background-image: linear-gradient(rgb(138, 136, 135) 0%, rgb(138, 136, 135) 100%);
  background-blend-mode: auto;
  border: 1px solid rgb(0, 0, 0);
}

.e0i6wt1p {
  width: 220px;
  margin-top: 10px;
  margin-left: 20px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0y6zhh8 {
  width: 220px;
  margin-top: 51px;
  margin-left: 18px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.e0umxzel {
  width: 1630px;
  height: 1122px;
  align-content: start;
}

.e099ik4i {
  width: 211px;
  height: 50px;
  margin-top: 40px;
  margin-left: 1419px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0ssi6s7 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0m9r69d {
  width: 211px;
  height: 50px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0dpzu70 {
  width: 37px;
  height: 36px;
  margin-top: 7px;
  margin-left: 11px;
  align-content: start;
}

.e05np9zy {
  width: 113px;
  margin-top: 15px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.e065eygc {
  width: 30px;
  height: 50px;
}

.e0qdzf69 {
  width: 39px;
  height: 39px;
  margin-top: -44px;
  margin-left: 152px;
  align-content: start;
}

.e08uwou3 {
  width: 1298px;
  height: 53px;
  margin-top: 61px;
  margin-left: 150px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e042duw0 {
  width: 1298px;
  height: 53px;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e08ttvvz {
  width: 1298px;
  height: 53px;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e0ths3wh {
  width: 1298px;
  height: 53px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border: 2px solid rgb(153, 239, 208);
}

.e06gazqx {
  width: NaNpx;
  height: NaNpx;
  margin-left: 23px;
  align-content: start;
}

.e09i2wyf {
  width: 251px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0amtay3 {
  width: 251px;
  margin-top: -50px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0gqt20z {
  width: 72px;
  height: 48px;
  margin-top: 5px;
  margin-left: 950px;
  align-content: start;
  background-image: url("../asset/image/arrowicon-removebg-preview-1-427-201.png");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e02if9ob {
  width: 72px;
  height: 48px;
}

.e033ssdm {
  width: 1298px;
  height: 67px;
  margin-top: 2px;
  margin-left: 150px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(153, 239, 208);
}

.e0pfjoqs {
  width: 1298px;
  height: 67px;
  margin-top: 2px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(208, 95, 218);
}

.e0jzu5ly {
  width: 1298px;
  height: 67px;
  margin-top: -2px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(153, 239, 208);
}

.e016z05t {
  width: 1298px;
  height: 67px;
  margin-top: 2px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(208, 95, 218);
}

.e04kj6g0 {
  width: NaNpx;
  height: NaNpx;
  margin-top: 7px;
  margin-left: 13px;
  align-content: start;
}

.e08v24eo {
  width: 304px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0nby2ek {
  width: 185px;
  margin-top: -49px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0ximzvg {
  width: 46px;
  height: 46px;
  margin-top: 11px;
  margin-left: 830px;
  align-content: start;
}

.e04r5mc7 {
  width: 36px;
  height: 32px;
  margin-top: 18px;
  margin-left: 6px;
  align-content: start;
}

.e0du6n3b {
  width: 72px;
  height: 48px;
  margin-top: 8px;
  margin-left: -11px;
  align-content: start;
  background-image: url("../asset/image/arrowicon-removebg-preview-2-427-207.png");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0kou69j {
  width: 72px;
  height: 48px;
}

.e0n3oyy5 {
  width: 1270px;
  height: 457px;
  margin-top: 6px;
  margin-left: 176px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  filter: opacity(60%);
  border-radius: 10px;
  border: 2px solid rgb(208, 95, 218);
}

.e0kw70e8 {
  width: 1270px;
  height: 457px;
  align-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  filter: opacity(60%);
  border-radius: 10px;
  border: 2px solid rgb(208, 95, 218);
}

.e0rmn5hw {
  width: 1137px;
  margin-top: 12px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0ic92tu {
  width: 1137px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0gafykf {
  width: 1137px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e00tebh3 {
  width: 1137px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0kfb8ku {
  width: 1137px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0iwxg83 {
  width: 1137px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0gr81yx {
  width: 1137px;
  margin-top: 4px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.e0a0xch9 {
  width: 1137px;
  margin-top: 24px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.e0csbmzf {
  width: 1137px;
  margin-top: 13px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e026lm4o {
  width: 1137px;
  margin-top: 4px;
  margin-left: 48px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.e0ui7naq {
  width: 1283px;
  height: 67px;
  margin-left: 163px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(60, 13, 119) 0%, rgb(60, 13, 119) 100%);
  background-blend-mode: auto;
  border-radius: 10px;
  border: 2px solid rgb(242, 105, 139);
}

.e0f6ftn9 {
  width: 304px;
  margin-top: 9px;
  margin-left: 13px;
  align-content: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e01vnacz {
  width: 46px;
  height: 46px;
  margin-top: 8px;
  margin-left: 817px;
  align-content: start;
}

.e0080jlz {
  width: 36px;
  height: 32px;
  margin-top: 15px;
  margin-left: 6px;
  align-content: start;
}

.e0exzpge {
  width: 70px;
  height: 48px;
  margin-top: 10px;
  margin-left: -10px;
  align-content: start;
}
