.e01yfol1 {
  height: 100%;
  font-family: Inter;
  background-image: linear-gradient(rgb(212, 222, 255) 0%, rgb(212, 222, 255) 100%);
  background-blend-mode: auto;
}

.e0ou7kjm {
  width: 1920px;
  height: 1122px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(45deg, rgb(59, 29, 96) 0%, rgb(4, 13, 62) 100%);
  background-blend-mode: auto;
}

.e0ilsve4 {
  width: 257px;
  height: 1122px;
  align-content: start;
  background-image: url("../asset/image/rectangle-2-257-1122-439-321.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0bzlccg {
  width: 215px;
  height: 61px;
  margin-top: 17px;
  margin-left: 23px;
  align-content: start;
  text-align: center;
  background-image: linear-gradient(rgb(196, 196, 196) 0%, rgb(196, 196, 196) 100%);
  background-blend-mode: auto;
}

.e0x7aqzm {
  width: 149px;
  margin-top: 17px;
  margin-left: 33px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0p0nw0n {
  width: NaNpx;
  height: NaNpx;
  margin-top: 36px;
  margin-left: 18px;
  align-content: start;
  text-align: center;
}

.e0izlgds {
  width: 220px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0kayaix {
  width: 220px;
  margin-top: -28px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0ntjo2d {
  width: NaNpx;
  height: NaNpx;
  margin-top: 36px;
  margin-left: 18px;
  align-content: start;
  text-align: center;
}

.e0dosysr {
  width: 220px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e06hdtvx {
  width: 220px;
  margin-top: -28px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0l4r7ki {
  width: 257px;
  height: 68px;
  margin-top: 41px;
  align-content: start;
  background-image: linear-gradient(rgb(138, 136, 135) 0%, rgb(138, 136, 135) 100%);
  background-blend-mode: auto;
  border: 1px solid rgb(0, 0, 0);
}

.e0qezi3e {
  width: 257px;
  height: 68px;
  background-image: linear-gradient(rgb(138, 136, 135) 0%, rgb(138, 136, 135) 100%);
  background-blend-mode: auto;
  border: 1px solid rgb(0, 0, 0);
}

.e0jxy6tw {
  width: NaNpx;
  height: NaNpx;
  margin-top: 23px;
  margin-left: 18px;
  align-content: start;
  text-align: center;
}

.e0gzpvh8 {
  width: 220px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e04wc1qd {
  width: 220px;
  margin-top: -28px;
  align-content: start;
  font-family: Amiko;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.e0gx31h0 {
  width: 1630px;
  height: 1122px;
  align-content: start;
}

.e0ahzug7 {
  width: 211px;
  height: 50px;
  margin-top: 40px;
  margin-left: 1419px;
  align-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e03nel8a {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0o68he6 {
  width: 211px;
  height: 50px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0hwos5f {
  width: 37px;
  height: 36px;
  margin-top: 7px;
  margin-left: 11px;
  align-content: start;
}

.e0bm0tnw {
  width: 113px;
  margin-top: 15px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.e0ysrgou {
  width: 30px;
  height: 50px;
}

.e09dixqj {
  width: 39px;
  height: 39px;
  margin-top: -44px;
  margin-left: 152px;
  align-content: start;
}

.e0i9r5d3 {
  width: 308px;
  margin-top: 46px;
  margin-left: 190px;
  align-content: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(153, 239, 208);
}

.e0sr0vsf {
  width: 1385px;
  height: 878px;
  margin-top: 12px;
  margin-left: 140px;
  align-content: start;
  background-image: url("../asset/image/rectangle-212.svg");
  background-blend-mode: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.e0s1u7v5 {
  width: 1385px;
  height: 233px;
  grid-auto-flow: column;
  justify-content: start;
}

.e05s5eeh {
  width: 127px;
  margin-top: 137px;
  margin-left: 167px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(242, 153, 74);
}

.e0yjgc1x {
  width: 360px;
  height: 188px;
  margin-top: 45px;
  margin-left: 110px;
  grid-auto-flow: column;
  justify-content: start;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0m9thps {
  width: 133px;
  height: 188px;
  align-content: start;
}

.e0qozqss {
  width: 66px;
  margin-top: 7px;
  margin-left: 66px;
  align-content: start;
  font-size: 15px;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0m61iiz {
  width: 68px;
  margin-top: -8px;
  margin-left: 64px;
  align-content: start;
  font-size: 15px;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e03429hh {
  width: 68px;
  margin-top: -2px;
  margin-left: 65px;
  align-content: start;
  font-size: 15px;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e0kxcvvi {
  width: 69px;
  margin-top: -11px;
  margin-left: 64px;
  align-content: start;
  font-size: 15px;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.e077vi9g {
  width: 217px;
  height: 188px;
  align-content: start;
}

.e0g0qoil {
  width: 19px;
  height: 22px;
  margin-top: 23px;
  margin-left: 198px;
  align-content: start;
}

.e00awgkv {
  width: 8px;
  height: 77px;
  margin-top: 8px;
  margin-left: 203px;
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-blend-mode: auto;
  border-radius: 30px;
}

.e0a6jkmr {
  width: 19px;
  height: 22px;
  margin-top: 9px;
  margin-left: 198px;
  align-content: start;
}

.e0fajwgm {
  width: 184px;
  height: 34px;
  margin-top: 112px;
  margin-left: 152px;
  align-content: start;
  border-radius: 30px;
}

.e0cp123p {
  width: 184px;
  height: 34px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0brvx1f {
  width: 184px;
  height: 34px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0xrid97 {
  width: 53px;
  margin-top: 7px;
  margin-left: 65px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0lbzyyz {
  width: 184px;
  height: 36px;
  margin-top: 112px;
  margin-left: 37px;
  align-content: start;
  border-radius: 30px;
}

.e0xc4muq {
  width: 184px;
  height: 36px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0itynz5 {
  width: 184px;
  height: 36px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0x6uzal {
  width: 99px;
  margin-top: 8px;
  margin-left: 42px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0ik39bd {
  width: 1385px;
  height: 95px;
  grid-auto-flow: column;
  justify-content: start;
}

.e07zqwc7 {
  width: 127px;
  margin-top: 69px;
  margin-left: 189px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e05266c8 {
  width: 344px;
  height: 31px;
  margin-top: 64px;
  margin-left: 93px;
  align-content: start;
  border-radius: 10px;
}

.e0pmdphx {
  width: 344px;
  height: 31px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0de6jnb {
  width: 324px;
  margin-top: 5px;
  margin-left: 7px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e09e6ojf {
  width: 1385px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e06w2zfz {
  width: 130px;
  margin-top: 55px;
  margin-left: 189px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e02ii3hw {
  width: 344px;
  height: 31px;
  margin-top: 49px;
  margin-left: 90px;
  align-content: start;
  border-radius: 10px;
}

.e0a4vsod {
  width: 344px;
  height: 31px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0x1uk1m {
  width: 324px;
  margin-top: 5px;
  margin-left: 7px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0txcpkq {
  width: 1385px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0t0h6qk {
  width: 234px;
  margin-top: 56px;
  margin-left: 186px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0zfh0or {
  width: 344px;
  height: 31px;
  margin-top: 49px;
  margin-left: -11px;
  align-content: start;
  border-radius: 10px;
}

.e0xhz2m9 {
  width: 344px;
  height: 31px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0xaq0i2 {
  width: 324px;
  margin-top: 5px;
  margin-left: 7px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0f4ddy3 {
  width: 1385px;
  height: 1px;
  min-height: auto;
}

.e06osohd {
  width: 1385px;
  height: 79px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0gxrv0f {
  width: 130px;
  margin-top: 51px;
  margin-left: 186px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0282trb {
  width: 344px;
  height: 31px;
  margin-top: 48px;
  margin-left: 93px;
  align-content: start;
  border-radius: 10px;
}

.e0mmsmg1 {
  width: 344px;
  height: 31px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0ctlsxo {
  width: 324px;
  margin-top: 5px;
  margin-left: 7px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0viikal {
  width: 1385px;
  height: 80px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0vqhuov {
  width: 130px;
  margin-top: 55px;
  margin-left: 189px;
  align-content: start;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 153, 74);
}

.e0zor39m {
  width: 344px;
  height: 31px;
  margin-top: 49px;
  margin-left: 88px;
  align-content: start;
  border-radius: 10px;
}

.e0ilz01t {
  width: 344px;
  height: 31px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0z44o1j {
  width: 324px;
  margin-top: 5px;
  margin-left: 7px;
  align-content: start;
  font-family: Rubik;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0atzkcs {
  width: 1385px;
  height: 202px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0eqly3j {
  width: 184px;
  height: 36px;
  margin-top: 166px;
  margin-left: 916px;
  align-content: start;
  border-radius: 30px;
}

.e0qpebo0 {
  width: 184px;
  height: 36px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0myalxf {
  width: 184px;
  height: 36px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0q81q76 {
  width: 99px;
  margin-top: 8px;
  margin-left: 42px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.e0857ccp {
  width: 184px;
  height: 36px;
  margin-top: 166px;
  margin-left: 36px;
  align-content: start;
  border-radius: 30px;
}

.e09jfmdq {
  width: 184px;
  height: 36px;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e0s1ndml {
  width: 184px;
  height: 36px;
  text-align: center;
  background-image: linear-gradient(rgb(242, 153, 74) 0%, rgb(242, 153, 74) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(242, 153, 74, 0.13) -11px 18px 37px 0px;
  border-radius: 3px;
}

.e09sdovg {
  width: 99px;
  margin-top: 8px;
  margin-left: 42px;
  align-content: start;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
